{% extends 'layout.html' %}
{% block title %}
    靓号管理
{% endblock %}
{% block content %}
    <div class="container">
        <div style="margin-bottom: 10px" class="clearfix">
            <a href="/prettynum/add/" target="_blank" class="btn btn-success">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                新增靓号
            </a>
            <div style="float: right;width:300px">
                <form action="" method="get">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="请输入手机号" name="search"
                               value="{{ search_data }}">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                靓号列表
            </div>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>号码</th>
                    <th>价格</th>
                    <th>级别</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in queryset %}
                    <tr>
                        <th>{{ obj.id }}</th>
                        <td>{{ obj.mobile }}</td>
                        <td>{{ obj.price }}</td>
                        <td>{{ obj.get_level_display }}</td>
                        <td>{{ obj.get_status_display }}</td>
                        <td>
                            <a class="btn btn-primary btn-xs" href="/prettynum/{{ obj.id }}/edit/">编辑</a>
                            <a class="btn btn-danger btn-xs" href="/prettynum/{{ obj.id }}/delete/">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            <div>
                <ul class="pagination">
{#                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>#}
                    {{ page_string }}
{#                    <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>#}
{#                    <div style="float: right;width:110px">#}
{#                        <form action="" method="get">#}
{#                            <div class="input-group">#}
{#                                <input type="text" class="form-control" placeholder="页码" name="page"#}
{#                                       value="{{ page }}">#}
{#                                <span class="input-group-btn">#}
{#                        <button class="btn btn-default" type="submit">跳转</button>#}
{#                        </span>#}
{#                            </div>#}
{#                        </form>#}
{#                    </div>#}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}